.filter-box {
    width: 100%;
    height: 6000px;

    background-color: #fafafa;
    border-radius: 10px;

    margin-bottom: 61px;

    padding: 32px 36px 13px 36px;

    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.filter-box h4 {
    color: rgba(185, 185, 185, 1);

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.category-list-box {
    display: flex;
    flex-wrap: wrap;

    row-gap: 9px;
    column-gap: 12px;

    width: 50%;

    margin-top: 20px;
    margin-bottom: 18px;
}

.filter-btns {
    display: flex;
    gap: 18px;
}

.filter-btns button {
    width: 98px;
    height: 38px;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;

    background-color: #fafafa;

    border: none;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    cursor: pointer;
}

.limpar-filtro-btn:hover,
.aplicar-filtro-btn:hover {
    background-color: rgb(240, 240, 240);
}

.limpar-filtro-clicked,
.aplicar-filtro-clicked {
    background-color: rgb(121, 120, 217);
    color: #FAFAFA;
}