.container-user {
    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(61, 61, 61, 0.48);

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-form {
    display: flex;
    flex-direction: column;

    width: 611px;
    height: 770px;

    background-color: white;

    border-radius: 20px;

    padding: 61px 62px 48px 64px;

    position: relative;
}

.data-warning-user-modal {
    position: absolute;
    width: 485px;
    top: 130px;
    text-align: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgba(72, 72, 72, 1);
}