.body-image {
    width: 100vw;
    height: 100vh;

    padding-top: 46px;
    background-image: url('../assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.body-clean {
    width: 100vw;
    height: 100vh;

    position: relative;

    padding-top: 46px;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
}


.form-n-modal {
    padding: 60px 32px 49px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
}

.input-label {
    display: flex;
    flex-direction: column;
    width: 449px;
}

.input-label label {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px;
    color: rgba(72, 72, 72, 1);
}

.input-label input {
    height: 63px;
    margin-bottom: 31px;

    border-radius: 5px;
    border: 1px solid #555555;
}

input {
    padding: 5px 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;

    color: rgba(72, 72, 72, 1);
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 52px;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.close-btn {
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.1);
}

.form-content {
    display: flex;
    flex-direction: column;

    position: relative;
}

.form-content label {
    margin-bottom: 8px;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;

    color: rgb(72, 72, 72)
}

.form-content input {
    margin-bottom: 26px;
    border: 1px solid #555555;
    border-radius: 5px;

    height: 64px;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    width: 236px;
    height: 46px;

    border: none;

    background-color: rgba(121, 120, 217, 1);
    color: white;
    border-radius: 5px;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 14px;

    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.8;
}