header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
    height: 43px;
    margin-bottom: 30px;
}

header h2 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 700;
}